@import "tailwindcss";

@source not "../stories/**/*.{js,ts,jsx,tsx,mdx}";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: var(--color-stone-50);
	--foreground: var(--color-stone-900);
	--card: var(--color-stone-100);
	--card-foreground: var(--color-stone-950);
	--popover: var(--color-stone-50);
	--popover-foreground: var(--color-stone-950);

	--primary: rgb(255, 125, 94);
	--primary-foreground: var(--color-stone-800);
	--secondary: var(--color-stone-300);
	--secondary-foreground: var(--color-stone-900);
	--accent: var(--color-stone-900);
	--accent-foreground: var(--color-stone-100);
	--muted: var(--color-stone-500);
	--muted-foreground: var(--color-stone-700);

	--destructive: var(--color-red-700);
	--destructive-foreground: var(--color-white);
	--border: var(--color-stone-200);
	--input: var(--color-stone-300);
	--ring: oklch(0.709 0.01 56.259);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: var(--color-stone-100);
	--sidebar-foreground: var(--color-stone-950);
	--sidebar-primary: oklch(0.216 0.006 56.043);
	--sidebar-primary-foreground: var(--color-stone-100);
	--sidebar-accent: var(--color-stone-300);
	--sidebar-accent-foreground: oklch(0.216 0.006 56.043);
	--sidebar-border: oklch(0.923 0.003 48.717);
	--sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
	--background: var(--color-stone-950);
	--foreground: var(--color-orange-50);
	--card: var(--color-stone-900);
	--card-foreground: var(--color-stone-200);
	--popover: oklch(0.216 0.006 56.043);
	--popover-foreground: var(--color-stone-100);

	--primary: rgb(255, 125, 94);
	--primary-foreground: var(--color-stone-800);
	--secondary: var(--color-stone-800);
	--secondary-foreground: var(--color-foreground);
	--accent: var(--color-orange-100);
	--accent-foreground: var(--color-stone-800);
	--muted: var(--color-stone-400);
	--muted-foreground: var(--color-stone-300);

	--destructive: var(--color-red-800);
	--destructive-foreground: var(--color-white);

	--border: var(--color-secondary);
	--input: var(--color-secondary);

	--ring: oklch(0.553 0.013 58.071);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.216 0.006 56.043);
	--sidebar-foreground: var(--color-stone-100);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: var(--color-stone-100);
	--sidebar-accent: rgb(255, 125, 94);
	--sidebar-accent-foreground: var(--color-stone-100);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.553 0.013 58.071);
}
@theme inline {
	--font-sans: "Inter", "sans-serif";
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-sans;
	}
	button {
		@apply cursor-pointer;
	}
}
